body{
    margin:0;
}
h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
ul{
    display: flex;
    justify-content: space-around;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    padding-left:0;
    align-items: center;
}
a{
    text-decoration: none;
    color:black;
    transition: color 0.3s;
}
li{
    padding-bottom: 5px;
    list-style: none;
    transition: 0.3S;
}
li:hover{
    transform: translateX(10px);
}
header{
    background-color:wheat;
    width: 100vw;
    position: fixed;
    top:0;
    left:0;
    color:black;
    z-index:1;

}
a:hover{
    color:white;
}
main{
    margin-top: 70px;
}
.cube{
    background-color: rgb(0, 255, 238);
    width: 300px;
    height: 300px;
    position: relative;
    transition: width 2s;
}
.incube{
    background-color:rgba(0, 0, 0, 0.918);
    width: 300px;
    height: 100px;
    position:absolute;
    top: 35%;
    right: 5%;
}
.cube:hover{
    width: 70%;
}
.check{
    display: none;
}
.burger{
    display: none;
}
@media (max-width:420px){
    .check{
        display: block;
        position: absolute;
        top:0;
        left:0;
        width: 40px;
        height: 35px;
        opacity: 0;
        cursor: pointer;
    }
    .burger{
        background-image: url("menu.svg");
        width: 50px;
        height: 50px;
        display: block; 
    }
    ul {
        position: absolute;
        top:100%;
        left:0;
        flex-direction: column;
        background-color: wheat;
        margin:0;
        width: 100vw;
        display: none;
    }
    .check:checked + ul{
        display:flex;
        
    }
}
#start{
    width:100%;
    height: 100vh;
    display: grid;
    background-color: yellow;
}
#ex{
    width:100%;
    height: 100vh;
    background-color: aqua;
    display: grid;
    background-repeat: no-repeat;
    overflow: hidden;
    grid-template-columns: 100vh;
    grid-template-rows: 100vh;
    justify-content: center;
    align-items: center;
}
#cont{
    width:100%;
    height: 100vh;
    background-color: black;
}
