body{
    margin:0;
}
ul{
    display: flex;
    justify-content: space-around;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    padding-left:0;
    align-items: center;
}
a{
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}
li{
    padding-bottom: 4px;
    list-style: none;
    transition: 0.3S;
}
li:hover{
    transform: translateX(10px);
}
header{
    background-color:black;
    width: 100vw;
    position: fixed;
    top:0;
    left:0;
    color:black;
    z-index:1;

}
a:hover{
    color:yellow;
}
main{
    margin-top: 61px;
}
.check{
    display: none;
}
.burger{
    display: none;
}
@media (max-width:420px){
    .check{
        display: block;
        position: absolute;
        top:0;
        left:0;
        width: 40px;
        height: 35px;
        opacity: 0;
        cursor: pointer;
    }
    .burger{
        background-image: url("menu.svg");
        width: 50px;
        height: 50px;
        display: block; 
    }
    ul {
        position: absolute;
        top:100%;
        left:0;
        flex-direction: column;
        background-color: wheat;
        margin:0;
        width: 100vw;
        display: none;
    }
    .check:checked + ul{
        display:flex;
        
    }
}
#start{
    width:100%;
    height: 100vh;
    display: grid;
    background-color: yellow;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}
#button{
    width: 40vh;
    height: 10vh;
    border: 0;
    background-color: black;
    color:white
}
.item-1{
    grid-row: 2/3;
    grid-column: 2/3;
    padding-left: 12px;
}
.item-2{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    grid-row: 1/2;
    grid-column: 2/3;
}
#ex{
    width:100%;
    height: 100vh;
    background-color: aqua;
    display: grid;
    background-repeat: no-repeat;
    overflow: hidden;
    grid-template-columns: 100vh;
    grid-template-rows: 100vh;
    justify-content: center;
    align-items: center;
}
#cont{
    width:100%;
    height: 100vh;
    background-color: black;
}
