h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ul{
    display: flex;
    justify-content: space-around;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    padding-left:0;
    align-items: center;
}
a{
    text-decoration: none;
    color:black;
    transition: color 0.3s;
}
li{
    padding-bottom: 5px;
    list-style: none;
    transition: 0.3S;
}
li:hover{
    transform: translateX(10px);
}
header{
    background-color:wheat;
    width: 100vw;
    position: fixed;
    top:0;
    left:0;
    color:black;
    z-index:1;

}
a:hover{
    color:white;
}
main{
    margin-top: 70px;
}
.cube{
    background-color: burlywood;
    width: 300px;
    height: 300px;
    position: relative;
    transition: width 2s;
}
.incube{
    background-color:rgba(180, 129, 52, 0.918);
    width: 100px;
    height: 100px;
    position:absolute;
    top: 5%;
    right: 5%;
}
.cube:hover{
    width: 70%;
}
.check{
    display: none;
}
.burger{
    display: none;
}
@media (max-width:250px){
    .check{
        display: block;
        position: absolute;
        top:0;
        left:0;
        width: 40px;
        height: 35px;
        opacity: 0;
        cursor: pointer;
    }
    .burger{
        display: block; 
    }
    ul {
        position: absolute;
        top:100%;
        left:0;
        flex-direction: column;
        background-color: wheat;
        margin:0;
        width: 100vw;
        display: none;
    }
    .check:checked + ul{
        display:flex;
    }
}
