* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  color: white;
  font-family: sans-serif;
}

body {
  background-color: rgb(3, 1, 28);
}

header {
  background-color: rgb(42, 187, 254);
  width: 100vw;
  height: 60px;
  position: fixed;
  top:0;
  z-index: 1;
  /* Te j훮papildina CSS */
}

footer {
  background-color: rgb(42, 81, 254);
  width: 100vw;
  height:60px;
  position: fixed;
  bottom:0;
  z-index: 1;
  /* Te j훮papildina CSS */
}

main {
  max-width: 700px;
  margin: 60px auto;
}

article {
  /* Te j훮papildina CSS */
  margin-bottom: 200px;
  margin-top: 100px;
  position: relative;
}

h2 {
  margin-top: 30px;
  margin-bottom: 30px;
}

img {
  width: 400px;
}

p {
  font-size: 2rem;
}
.whole-text{
    position: absolute;
    left: 5%;
    padding-bottom:50px ;
}
.one-destination{
    position: relative;
}
.indonesia{
    position:absolute;
    top:25%;
    right:5%
}
.australia{
    position: absolute;
    bottom:3%;
}
.liepaja{
    position: absolute;
    bottom:3%;
    right: 3%;
}
/* Te j훮papildina CSS */
